.form-group{
   display: flex;
   flex-direction: column;
   width: 100%;
}
.form-group input,
.form-group select,
.form-group textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: var(--font-primary);
    background-color: var(--white);
    border: solid 1px var(--blue);
}
.form-group button{
    padding: 5px 10px;
    margin: 0 5px;
    color: var(--white);
    border-radius: 8px;
    border: solid 1px var(--blue);
}
.form-group button:hover{
    background-color: var(--white);
    color: var(--blue);
}
.form-group-button{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.form-control:focus{
    box-shadow: none;
}